.input {
  position: relative;
  &__value {
    border: 1px solid var(--secondary-text-color);
    border-radius: 4px;
    width: 124px;
    height: 40px;
    text-align: center;
  }
  &__title {
    position: absolute;
    left: 9px;
    top: 0;
    transform: translateY(-50%);
    background: #1d1e22;
    padding: 3px;
    font-size: 12px;
    color: var(--secondary-text-color);
  }
}
