.button {
  background-color: aqua;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  background: var(--primary-color);
  position: relative;
  border-radius: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  &_secondary {
    background: #585f6c;
  }

  &::before {
    content: "";
    width: 100%;
    height: 40px;
    position: absolute;
    background: radial-gradient(
      50% 53.75% at 50% 0%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
  }
  &:disabled {
    background: #585f6c;
    opacity: 0.3;
  }
}
